/Semana1/Saludo Personal/nbproject/private/
/Semana1/Saludo Personal/build/
/Semana1/Session2taller1/nbproject/private/
/Semana1/Session2taller1/build/
/Semana1/Session2taller1/dist/
/Semana1/session3taller1/nbproject/private/
/Semana1/session3taller1/build/
/Semana1/Session3taller2/nbproject/private/
/Semana1/Session3taller2/build/
/Semana1/Session3Taller3/nbproject/private/
/Semana1/Session3Taller3/build/
/Semana1/Session3taller4/nbproject/private/
/Semana1/Session3Taller5/nbproject/private/
/Semana1/Session3Taller5/build/